body{
    margin: 0px;
}
.container{
    margin: 15%;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: inherit;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
    color: #fff;
    background-color: darkgrey;
    border-color: darkgrey
}

.card {
    border: none;
    background: #eee
}
.categories{
    margin: 20px;
}


.test{
color: #9b870c;
font-size: 15px;
font: Helvetica
}

.past{
font: Helvetica;
color: black;
font-size: 100px
}

.logo{
{display:inline-block;padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap}
}